form div{
    background-color:#e4e1e1;
    color:#fafaff;
    width:40%;
    height:36px;
    border-color: #b6b3b3 #000000;
    border-width:4px;
    border-style:solid;
    border-radius:8px;
    margin:60px 0;
    display:flex;
    align-items:center;
    justify-content: center;
}
.password,
.u{
    outline:none;
    background-color:#00000000;
    text-align:right;
    color: #212121;
    border:none;
    border-color:#00000000;
    border-style:solid;
    font-size:18px;
}
.img{
  width:40px;
  height:40px;
  position:absolute;
  right:45%;
}

.imgl{
position:relative;
}
.imgs{
    position:absolute;

    right:0px;
}
form{
    margin:0 0 0 34%;
    align-items:center;
    justify-content: center;
}
body{
    background-color:#212121;
    font-family: 'Tajawal', sans-serif;
}
.u{
    width:97%;
}
.imagep{
    float:left;
    display:flex;
    align-items:center;
    justify-content: center;
    width:35px;
    height:35px;
}
.b{
   
    margin:0 0 0 12%;
    width:min-content;
    height: 45px;
    font-size:18px;
    color:cornsilk;
    background:#212121;
    border-radius:5px;
    border-color:#e4dbdb;
    border-width:2px;
    border-style:solid;
}
.clear{
    clear:left;
}
span{
    position:absolute;
    right:50%;
    margin-bottom:15px;
    color:#ffffff;
    font-size:23px;
    text-align:center;
    align-items: center;
    padding-bottom:20px;
}